<h1>Add Task</h1>
<form method="post" action="/api/v1/tasks/<%= id%>" >
    <input type="text" placeholder="add your task here" name="name" value="<%= name %>"/>
    <button type="submit">Add Task</button>
</form>